@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Wix+Madefor+Text:ital,wght@1,600&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: 0;
    }

    body {
        font-family: 'Poppins' , sans-serif;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        min-height: 90px;
    }

    .navbar-top {
        background-color: rgb(218, 227, 251);
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 15px;
        position: fixed;
        height: 80px;
        width: 950px;
        z-index: 1;
    }

    .navbar-nav {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        list-style-type: none;
        font-size: 17px;
    }
    .nav-link:hover{
        list-style-type: circle;
    }

    .fasolid{
        display: flex;
        flex-direction: row;
        gap: 20px;
        cursor: pointer;
        font-size: 22px;
        color: rgb(87, 70, 139);
    }
   
    .gadgetsite {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gadgetbtn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: 0.3 ease all;
    }

    .buttong1:hover{
        box-shadow: 0 0 35px rgb(205, 94, 60);
        border-radius: 20px;
    }
    .buttong2:hover{
        box-shadow: 0 0 35px blue;
        border-radius: 20px;
    }
    .img {
        width: 800px;
        margin: 0 auto;
        margin-top: 30px;
    }


    .fontcheck{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        padding: 30px;
        
    }
    .fontchecks:hover{
        box-shadow: 0 0 35px 0;
        transition: 0.5s;
        padding: 10px;
        visibility: visible;
    }

    .product_img2{
        display: flex;
        flex-direction: row;

    }
    .left_product{
       width: 55%;
        display: flex;
        justify-content: end;
    }
    .right_product{
        width: 40%;
    
    }
   .all-product{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
        margin-bottom: 40px;
   }
    .proven{
        width: 400px;
        font-size: 45px;
        margin-bottom: 10px;
    }
   
    .products_text{
        border: 2px solid rgba(221, 221, 237, 0.499);
        width: 300px;
        height: 130px;
        margin-right: 40px;
        margin-top: 20px;
        color: rgba(82, 84, 90, 0.859);
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
    }

    .buttonr{
        width: 190px;
        height: 50px;
        border-radius: 20px;
        background-color: rgb(245, 125, 95);
        color: white;
        border: none;
        font-size: 15px;
        cursor: pointer;
    }
    .buttonr:hover{
        box-shadow: 0 0 10px red;
        transition: 0.3s;
    }
    .reliable{
        width: 50%;
    }
    .reliables{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

    }
    .products_text1{
        border: 2px solid rgb(185, 188, 220);
        width: 500px;
        height: 130px;
        margin-right: 40px;
        margin-top: 20px;
        color: rgba(128, 128, 128, 0.938);
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
    }
    .reliable_mobile{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5%;
        margin-bottom: 40px;
    }
    .buttonb{
        width: 190px;
        height: 50px;
        border-radius: 20px;
        background-color: blue;
        color: white;
        border: none;
        font-size: 15px;
        cursor: pointer;
    }
    .buttonb:hover{
        box-shadow: 0 0 10px blue;
        transition: 0.5s;
    }
    .phones_imgs{
        position: relative;
    }

    .rel_img{
        position: relative;
        margin-left: 50px;
        border-radius: 25px;
    }
    .img_phone{
        position: absolute;
        display: flex;
        justify-content: end;
        left: 0;
        top: 50px;
        border-radius: 15px;
    }
    .fulfill{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

  
    .priceselli1,
    .priceselli2{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .pricesellimg > img{
        width: 100%;
        height: 400px;
    }
    .models{
        margin-top: 30px;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    .card-box{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 25px;
    }

    .modelimg{
        width: 350px;
    }




    .pricesell2,
    .pricesell1 {
        display: flex;
        justify-content:flex-start;
        margin: 30px;
        gap: 30px;
    }
